.porfolio{
    padding: 50px 0;
}
.sub-title{
    margin-left: 1rem;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 3.5rem;}

.work-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px; 
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position:relative;
    overflow: hidden;

    width: calc(25% - 20px); 
    max-width: 250px; 
    min-height: 350px;
    display: flex;
    align-items: center;
    
}

.work img{
    width: 100%;
    border-radius:10px;
    display: block;
    transition:transform 0.5s;
    height: auto;

    

}

.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{    
    margin-bottom:10px;
}
.layer p {
    margin-bottom: 10px; 
}

.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 30px;
    background: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height:100%;
    
}

.btn{
    display: block;
    margin: 50px auto;
    width:fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color:#fff;
    background: #ff004f;
    transition:background 0.5s ease;
    transition: transform 0.3s;
}
.btn:hover{
    transform: translateY(-3px)
}

@media (max-width: 1200px) {
    .work {
        width: calc(33.33% - 20px); 
    }
}

@media (max-width: 900px) {
    .work {
        width: calc(50% - 20px); 
    }
}

@media (max-width: 600px) {
    .work {
        width: calc(100% - 20px); 
    }
}