.user-container{
    display: flex;
    align-items: center;
    position: relative;
}

.user-container::after,
.user-container::before{
    content: "";
    width: 28.125rem;
    height: 28.125rem;
    border-radius: 28.125rem;
    background-color: #7c66e3;
    z-index: -1;
    /* filter: blur(225px); */
}

.user-container::after{
    top: -3rem;
    left: -5rem;
}

.user-container::before{
    bottom: 2rem;
    right: 0rem;
}



.user-content{
    flex: 1;
}

.user-content h2 {
    font-size: 3.8rem;
    font-weight: 600;
    line-height: 5rem;
    margin-bottom: 1rem;
}

.user-content p{
    width: 80%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
}

.user-img{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
}
/* mask-image: linear-gradient(black 80%, transparent); Esta linea es para hacer transpoarente abajo */

.user-img > div {
    display: flex;
    align-items: flex-end;
    gap: 2rem;
}

.user-img > div > img{
    width: 25rem;
    transition: all 0.3s ease;
    border-radius: 10%
    
}

.tech-icon{
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 0.65rem;
    border: 1.5px solid #6852ba;
}

.tech-icon img{
    width: 3rem;
    height: auto;
    transition: all 0.3s ease;

}

.user-img > div >img:hover,
.tech-icon img:hover{
    transform: translateY(-0.5rem);
}

@media (max-width: 1025px){
    .user-content h2{
        font-size: 3rem;
        line-height: 4rem;
    }
    .user-content p{
        font-size: 0.9rem;
        line-height: 1.6rem;
    }
    .user-img > div > img{
        width: 20rem;
    }
    .tech-icon{
        width: 4rem;
        height: 4rem;
    }
    .tech-icon img{
        width: 2.5rem;
    }
}

@media (max-width: 768px){
    .user-container{
        flex-direction: column;
    }
    .user-img{
        margin: 2rem 0 2rem 0;
    }
    .user-container h2{
        margin-top: 3rem;
    }
    .user-content h2,
    .user-content p{
        width: auto;
        text-align: center;
    }
    .user-container::after,
    .user-container::before{
        content: "";
        width: 18rem;
        height: 18rem;
    }
    .user-container::after{
        top: 0rem;
        left: 0rem;
    }
    .user-container::before{
        bottom: 2rem;
        right: 0rem;
    }
}

@media (max-width: 600px){
    .user-content h2{
        font-size: 2.2rem;
        line-height: 3rem;
    }
    .user-content p{
        font-size: 0.8rem;
        line-height: 1.3rem;
    }
    .user-img{
        gap: 1rem;
    }
    .user-img > div{
        gap: 1rem;
    }
    .user-img > div > img{
        width: 16rem;
    }
    .tech-icon{
        width: 3.3rem;
        height: 3.3rem;
    }
    .tech-icon img{
        width: 2rem;
    }
}