.user-container {
	display: flex;
	align-items: center;
	position: relative;
	max-width: 1300px !important;
	margin: 0 auto;
}

/* .user-container::after,
.user-container::before {
	content: '';
	width: 28.125rem;
	height: 28.125rem;
	border-radius: 28.125rem;
	background-color: #7c66e3;
	background-color: #ff004f;
	position: absolute;
	z-index: -1;
	filter: blur(225px);
}

.user-container::after {
	top: -3rem;
	left: -5rem;
}

.user-container::before {
	bottom: 2rem;
	right: 0rem;
} */

.user-content {
	flex: 1;
}

.user-content h1 {
	font-size: 3.8rem;
	font-weight: 600;
	line-height: 5rem;
	margin-bottom: 1rem;
}

.user-content p {
	width: 80%;
	font-size: 1rem;
	font-weight: 400;
	line-height: 2rem;
}

.user-img {
		flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	margin-top: 5rem;
	mask-image: linear-gradient(black 60%, transparent); 
	/*Esta linea es para hacer transpoarente abajo  de la foto.*/
}

.user-img > div {
	display: flex;
	align-items: flex-end;
	gap: 2rem;
}

.user-img > div > img {
	width: 25rem;
	transition: all 0.3s ease;
	border-radius: 50%;
}

.user-img > div > img:hover {
	transform: translateY(-0.5rem);
}

@media (max-width: 1325px) {
	.user-content h1 {
		padding-left: 1rem;
	}
	.user-content p {
		font-size: 1rem;
		line-height: 1.6rem;
		padding-left: 1rem;
	}
}

@media (max-width: 1025px) {
	.user-content h1 {
		font-size: 3rem;
		line-height: 4rem;
		padding-left: 1rem;
	}
	.user-content p {
		font-size: 1rem;
		line-height: 1.6rem;
		padding-left: 1rem;
	}
	.user-img > div > img {
		width: 20rem;
	}
}

@media (max-width: 768px) {
	.user-container {
		flex-direction: column;
	}
	.user-img {
		margin: 2rem 0 2rem 0;
	}
	.user-container h1 {
		margin-top: 3rem;
		padding-left: 1rem;
		/* margin-left: 1rem; */
	}
	.user-content h1,
	.user-content p {
		width: auto;
		text-align: center;
	}
	.user-container::after,
	.user-container::before {
		content: '';
		width: 18rem;
		height: 18rem;
	}
	.user-container::after {
		top: 0rem;
		left: 0rem;
	}
	.user-container::before {
		bottom: 2rem;
		right: 0rem;
	}
}

@media (max-width: 600px) {
	.user-content h1 {
		font-size: 2.2rem;
		line-height: 3rem;
	}
	.user-content p {
		font-size: 0.8rem;
		line-height: 1.3rem;
	}
	.user-img {
		gap: 1rem;
	}
	.user-img > div {
		gap: 1rem;
	}
	.user-img > div > img {
		width: 16rem;
	}
}
