.mobile-menu{
    width: auto;
    height: 100vh;
    display: none;
    background-color: transparent;
    /* background-color: rgba(0, 0, 0, 3); */
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999 !important;
    opacity: 0;
    box-shadow: 0px 29px 80px  #262626;
    transition: all 0.3s ease;
    transform: translateX(-100vw);
}
.menu-item.menu-navbar{
    font-size: 20px;
}
.mobile-menu-container{
    font-size: 1rem;
    width: 60vw;
    height: 100vh;
    background-color: #262626;
    padding: 2rem;
}
.mobile-nav-title{
    padding-bottom: 5rem;
}

.mobile-nav-title-p:hover{
    background: linear-gradient(90deg, whitesmoke 0%, #ff004f 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
} 

.mobile-menu.active{
    opacity: 1;
    transform: translateX(0);
}

.mobile-menu img{
    margin-bottom: 3rem;
}

.mobile-menu ul{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
    /* margin-left: -2rem; */
}
.contact-btn-mobile{
    font-size: 1.1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    background: linear-gradient(90deg,#252734 0%, #ff004f 100%);
    padding: 0.6rem 2rem;
    border: none;
    outline: 1.5px solid transparent;
    border-radius: 0.2rem ;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    
}
.contact-btn-mobile:hover{
    color: #ff004f;
    background: #252734;
    outline: 1.5px solid #ff004f;

}
.btn-mobile-nav{
    border: none;
    /* padding: 1px; */
}

@media (max-width: 769px){
    .mobile-menu{
        display: block;
    }
}

