* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #252734;
	color: whitesmoke;
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
}

main {
	min-height: calc(100vh - 54px - 284px);
	
}

.container{
	max-width: 1300px !important;
	margin: 0 auto;
	position: relative;
}

@media (max-width: 1300px){
	.container{
		padding: 0 1.5rem;
	}
}